* {
  margin: 0
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

header {
  width: 100%;
  height: 40px;
  display: flex;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  align-self: center;
  margin-left: 20px;
  /* margin: auto; */
}

#stats-button {
  width: auto;
  height: auto;
  padding: 5px;
  align-self: center;
  margin-left: auto;
  margin-right: 20px;;
}

#stats-button:hover {
  cursor: pointer;
}

#stats-modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 90%;
  top: 15%;
  height: auto;
  color: black;
  background-color:white;
  border-radius: 10px;;
  box-shadow: 0 0 20px 4px rgb(109, 113, 115);
  padding: 15px 0 30px 0;
}

#modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#close-btn {
  align-self: flex-end;
  margin-right: 20px;
  font-size: 25px;
  color: rgb(109, 113, 115)
}

#close-btn:hover {
  color: black;
  cursor: pointer;
}

h3 {
  font-size: 14px;
  padding-bottom: 10px;
}

#stats {
  width: 85%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50px 35px;
  grid-template-areas:
  'played-num percent-num current-num max-num'
  'played percent current max';
  text-align: center;
}

.stat-nums {
  font-size: 35px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-titles {
  font-size: 12px;
  line-height: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  letter-spacing: 0.1em;
}

#played-num {
  grid-area: played-num;
}

#percent-num {
  grid-area: percent-num;
}

#current-num {
  grid-area: current-max;
}

#max-num {
  grid-area: max-num;
}

#played {
  grid-area: played;
}

#percent {
  grid-area: percent
}

#current-streak {
  grid-area: current
}

#max-streak {
  grid-area: max;
}

hr {
  width: 100%;
  height: 1px;
  border-width:0;
  background-color:rgb(211, 214, 218);
}

#message {
  margin-top: 15px;
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 10px;
}

#board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

#board-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  padding: 15px 0 0 0 ;
}

.board-square {
  border: 2px solid rgb(211, 214, 218);
  width: 58px;
  height: 58px;
  font-size: 2rem;
  font-weight: bold;
  margin: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

#keyboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 0 0 0;
  margin-bottom: 90px;
}

#first-row,
#second-row,
#third-row {
  display: flex;
  margin-bottom: 8px;
}

button {
  border: none;
  background-color: rgb(212, 214, 218);
  color: black;
  border-radius: 4px;
  margin-right: 6px;
  padding: 3px;
  width: 32px;
  height: 58px;
  font-size: 13.3333px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

#enter, 
#back {
  width: 50px;
}

#reset-btn {
  margin: 15px 0 200px 0;
  width: auto;
  height: auto;
  padding: 10px;
}

.green {
  background-color: rgb(95, 160, 89);
  color: white;
  border-color: white;
}

.yellow {
  background-color: rgb(194, 171, 78);
  color: white;
  border-color: white;
}

.gray {
  background-color: rgb(109, 113, 115);
  color: white;
  border-color: white;
}


@media only screen and (min-width: 500px) {
  header {
    height: 65px;
  }

  h1 {
    font-size: 35px;
  }
  
  button {
    width: 43px;
  }

  #enter, 
  #back {
  width: 65px;
  }

  #keyboard-container {
    margin-bottom: 0;
  }
}